<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        
    </header>
    <main>
        <h1>Perfil del usuario</h1>
          <ul class="product-list">        
                    <li class="product-item">
                        <strong><%= user.username %></strong>
                        <span>ID: <%= user.id %></span>
                        <span>Password: €<%= user.password %></span>
                    </li>
                
            </ul>
        <a href="/userRoute">Volver a gestion de usuarios</a>
    </main>
</body>
</html>
