<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Gestion de usuarios</h1>
    </header>
    <main>
        <section>
            <h2>Lista de usuarios</h2>
            <ul>
                <% data.user.forEach(user => { %>
                    <li>
                        <strong>
                            <%= user.username %>
                        </strong>
                        <span>Id: <%= user.id %></span>
                        <span><a href="">Modificar usuario</a></span>
                        <span><a href="">Eliminar usuario</a></span>
                    </li>
                         <% }) %>
            </ul>
        </section>
    </main>
</body>
</html>